body{
    height: 100vh;
    background-image: linear-gradient(#009688 20%, #dbdbd3 80%);
}

.app{
    height: 100vh;
}
.debug{
    border: 1px solid black;
}
.header{
height: 70px;
background-color: #eaeaea;;
}
.notifiche{
height: 70px;
    background-color: #83d5fc;
}
.search{
    height: 50px;
}
.img-cont img{
    width: 60px;
}
.bell{
    font-size: 30px;
}
 .users{
     height: calc(100% - 190px);
     overflow-y:auto
 }
 .users li img{
     width:50px;
     margin-right:10px;
 }
 .users ul{
     list-style-type: none;
 }

 .mex-container{
     height: calc(100% - 140px);
     width: 100%;
     background-image:url(../img/mine.jpg) ;
     overflow-y: auto;
 }
 .message-text{
     position: relative;
     margin: 5px 0;
     padding: 20px;
     min-width: 40%;
     max-width: 60%;
     background-color: #fff;
    border-radius: 10px;
    font-size: 20px;
 }
 .message-text.sent{
     background-color: #d5f9ba;
     float: right;
     clear: both;
 }
 .message-text.received{
     background-color: #fff;
     float: left;
     clear: both;
 }

 .footer{
     height: 70px;

 }
